#slider-container {
    position: absolute;
    top: 900px;
    left: 40%
}
.dropdown-toggle {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.checkbox-label {
    display: block;
    padding: 5px;
    user-select: none;
}
#filters{
    margin: 80px;
}